@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
	font-size: 62.5%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: Roboto, sans-serif;
}

.header,
.footer,
.welcome {
	background-color: #1f2937;
	display: flex;
	justify-content: center;
}

.header-container {
	width: 1200px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 2.4rem;
	color: #f9faf8;
	font-weight: bold;
}

.links {
	display: flex;
	gap: 1rem;
}

.links a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 1.4rem;
}

.welcome-container {
	color: #f9faf8;
	height: 500px;
	width: 1200px;
	display: flex;
	align-items: center;
	gap: 4rem;
}

.welcome-title,
.welcome-text,
.btn {
	margin-bottom: 1rem;
}

.welcome-title {
	font-size: 4.8rem;
	line-height: 5rem;
	font-weight: bolder;
}

.welcome-text {
	font-size: 1rem;
}

.btn {
	background-color: #3882f6;
	font-weight: bold;
	font-size: 1rem;
	color: #f9faf8;
	padding: 10px 30px;
	border-radius: 10px;
	border: none;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info {
	height: 500px;
	width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.info h2 {
	font-size: 3.6rem;
	font-weight: bold;
}

.boxes {
	display: flex;
	width: 100%;
	gap: 2rem;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.box {
	width: 200px;
	height: 200px;
}

.box img {
	border: 0.3rem solid #3882f6;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.box span {
	text-align: center;
	display: inline-block;
	font-size: 1.1rem;
}
